.home-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, .18fr));
  gap: 20px;
  padding: 20px;
}

.book-card {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.book-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.book-card .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  color: #333;
  text-align: center;
}

.home-ctn .author {
  font-size: 1.0rem;
  font-weight: 500;
  margin: 5px 10px;
  color: #555;
  text-align: center;
}

.book-card .rating {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px 10px;
  text-align: center;
  color: #777;
}

.book-card .rating svg {
  fill: #f7c948;
  margin-right: 5px;
  text-decoration: underline;
}


@media only screen and (max-width: 720px) {
  .home-ctn {
    justify-content: center;
  }
}