.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-title {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar-burger-line {
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.navbar-burger-line.active:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar-burger-line.active:nth-child(2) {
  opacity: 0;
}

.navbar-burger-line.active:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar-burger-line.active:nth-child(4) {
  opacity: 0;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link.active {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navbar-burger {
    display: none;
  }

  .hide-lg {
    display: none;
  }

}


@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-burger-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .navbar-burger {
    order: 2;
    position: absolute;
    right: 5vh;
    top: 2vh;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .navbar-link {
    font-size: 16px;
  }

  .navbar-links.show {
    opacity: 1;
    max-height: 500px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-title {
    font-size: 20px;
  }

  .navbar-link {
    font-size: 14px;
  }
}