.search-stories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-stories-result {
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .search-stories-result:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .search-stories-result img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .search-stories-result .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    color: #333;
    text-align: center;
  }
  
  .search-stories-result .author {
    font-size: 1.0rem;
    font-weight: 500;
    margin: 5px 10px;
    color: #555;
    text-align: center;
  }
  
  .search-stories-result .rating {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px 10px;
    text-align: center;
    color: #777;
  }
  
  .search-stories-result .rating svg {
    fill: #f7c948;
    margin-right: 5px;
    text-decoration: underline;
  }

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}

.search-input {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.5rem;
    width: 60vw;
    border: 2px solid #555;
    outline: none;
}

.search-input:focus {
    border-color: #333;
}

.search-button {
    padding: 8px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #555;
    color: #fff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #333;
}